<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0 auto;
        }
        .container {

        }
    </style>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
            {% for num in range(0,1) %}
            <tr>
                <th>{{session['leaderboard']}}</th>
                <th>{{session['count']}}</th>
            </tr>
            {% endfor %}
        </table>
        <a href="/"><button>Home</button></a>
    </div>
</body>
</html>