<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="title">
                <h2>New Author</h2>
            </div>
            <div class="form">
                <form action="">
                    <div>
                        <label for="name">Name: </label>
                        <input type="text" name="name">
                    </div>
                    <button>Create</button>
                </form>
            </div>
        </div>
        <div class="box">
            <div class="title">
                <h2>All Authors</h2>
            </div>
            <div>
                {% for author in authors %}
                <ul class="authorlist">
                    <li><a href="/author/favorites/{{author.id}}">{{author.first_name}} {{author.last_name}}</a></li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>