<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="title">
                <h2>Title: {{one_book.title}}</h2>
            </div>
            <div>

            </div>
        </div>
        <div class="box">
            <div class="title">
                <h2>Favorited By: </h2>
            </div>
            <div>
                {% for b in one_book.authors %}
                <p>{{b.name}}</p>
                {% endfor %}
            </div>
        </div>
        <div>
            <div>
                <h2>Add Book's Favorite</h2>
            </div>
            <div>
                <form action="/book/favorites/add" method="post">
                    <input type="hidden" name="book_id" value={{one_book.id}}>
                    <label for="name">Author: </label>
                    <select name="author_id">
                        {% for author in unfavorited_authors %}
                        <option value="{{author.id}}">{{author.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add Author">
                </form>
            </div>
            <button><a href="/">Home</a></button>
        </div>
    </div>
</body>
</html>