<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="box1 title">
            <div>
                <h2>Change Order</h2>
            </div>
            <div>
                <a href="/orders">Back to Purchases</a>
                <p>Order ID: {{orders.id}}</p>
            </div>
        </div>
        <div class="box3">
            <form action="/orders/edit/update" method="post">
                <input type="hidden" name="id" value="{{orders.id}}">
                <table>
                    <tr>
                        <td><label for="name">Name:</label></td>
                        <td><input type="text" name="name" value="{{orders.name}}"></td>
                    </tr>
                    <tr>
                        <td><label for="cookie_type">Cookie Type:</label></td>
                        <td><input type="text" name="cookie_type" value="{{orders.cookie_type}}"></td>
                    </tr>
                    <tr>
                        <td><label for="num_of_boxes">Number of Boxes:</label></td>
                        <td><input type="text" name="num_of_boxes" value="{{orders.num_of_boxes}}"></td>
                    </tr>
                </table>
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>