<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="box1 title">
            <h2>Cookie Orders</h2>
        </div>
        <div class="box2">
            <div>
                <h4>All Orders</h4>
            </div>
            <div>
                <a href="/orders/new">+ New Order</a>
            </div>
        </div>
        <div class="box3">
            <table class="cookieTable">
                <thead>
                    <tr>
                        <th>Cookie Name</th>
                        <th>Cookie Type</th>
                        <th>Number of Boxes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.name}}</td>
                        <td>{{order.cookie_type}}</td>
                        <td>{{order.num_of_boxes}}</td>
                        <td><a href="/orders/edit/{{order.id}}">edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>