<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="dojoNinjaCreateBox">
            <form class="ninjaForm" action="/ninja/add" method="post">
                <table class="ninjaForm">
                    <tbody class="createNinja">
                        <tr>
                            <td style="width: 200px;"><label for="dojo">Dojo: </label></td>
                            <td style="width: 200px;"><select name="dojo_id" id="">
                                {% for dojo in dojos %}
                                <option value="{{dojo.id}}">{{dojo.name}}</option>
                                {% endfor %}
                            </select></td>
                        </tr>   
                        <tr>
                            <td style="width: 200px;"><label for="first_name">First Name: </label></td>
                            <td style="width: 200px;"><input name="first_name" type="text"></td>
                        </tr>
                        <tr>
                            <td style="width: 200px;"><label for="last_name">Last Name: </label></td>
                            <td style="width: 200px;"><input name="last_name" type="text"></td>
                        </tr>
                        <tr>
                            <td style="width: 200px;"><label for="age">Age: </label></td>
                            <td style="width: 200px;"><input name="age" type="text"></td>
                        </tr>   
                    </tbody>
                    <button>Create</button>
                </table>
            </form>
        </div>
        <a href="/"><button>Home</button></a>
    </div>
</body>
</html>