<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myownstyle.css') }}">
</head>
<body>
    <div class="readContainer">
        <div class="item submit">
            <button class="homebutton"><a class = "homebutton" href="/">Home</a></button>
        </div>
        <div class="myform">
            <div>
                <h3>First Name:</h3>
                <p class="userinfo">{{user.first_name.capitalize()}}</p>
            </div>
            <div>
                <h3>Last Name:</h3>
                <p class="userinfo">{{user.last_name.capitalize()}}</p>
            </div>
            <div>
                <h3>Email: </h3>
                <p class="userinfo">{{user.email.capitalize()}}</p>
            </div>
            <div class="item submit">
                <button class="homebutton"><a class = "homebutton" href="/edit/{{user.id}}">Edit</a></button>
            </div>
            <div class="item submit">
                <button class="homebutton"><a class = "homebutton" href="/user/delete/{{user.id}}">Delete</a></button>
            </div>
        </div>
    </div>
</body>
</html>